@media(max-width: 767px){
    .center{
        padding-left: 16px;
        padding-right: 16px;
    }
   
    .top{
        background-color: #E1FF8F;
        background-image:url(img/Vector.png), url(img/mobilstar2.png),url(img/mobilstar3.png),url(img/mobil.png),url(img/mobilstar5.png);
        background-position: right 0px top 0px, 37px 97px, 91px 64px, right 34px bottom 28px, right 86px bottom 74px;
        background-repeat: no-repeat;
        padding-top:147px;
        padding-bottom: 131px;
        &__title{
            font-weight: 700;
            font-size: 40px;
            line-height: 100%;
            letter-spacing: 0px;
            text-align: center;
            vertical-align: middle;            
            padding-bottom: 24px;
        }
        
        &__text{
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0px;
            text-align: center;
            vertical-align: middle;
            padding-bottom: 36px;
        }
        &__link-box{
            display: flex;
            justify-content: center;
        }
        &__link{
            box-sizing: border-box;
            border: 1px solid rgb(32, 32, 39);
            border-radius: 60px;
            background: rgb(32, 32, 39);
            width: 285px;
            height: 55px;
            padding: 16px 28px;
            font-size: 16px;
            font-weight: 600;
            line-height: 141.69%;
            letter-spacing: 0%;
            text-align: center;
            &:hover{
                color: #FFFFFF;
                background-color:#202027;
                transition: 0;
            }
        }
    }
    .animation{
        height: 51px;
        background-color: rgb(188, 236, 48);
    }
    .content{
        display: none;
    }
    .section-games{
        background-image: none;
        padding-top: 48px;
        &__heading{
            padding-bottom: 48px;
            font-size: 40px;
            font-weight: 700;
            line-height: 49px; 
        }
    }

    
    .games{
        padding-bottom: 48px;
        gap: 24px;  
    }
    
    .game{
        display: flex;
        flex-direction: column;
        &__imeg{
            max-height: 284px;
        }
        &__imeg_1{
            order:  -1;
        }       
        &__info{
            padding: 29px 29px 29px 32px;
            width: auto;   
        }
        &__name{
            padding-bottom: 16px;
            font-size: 32px;
            font-weight: 700;
            line-height: 39px;
            letter-spacing: 0px;
            text-align: left;
        }

        &__description{
            padding-bottom: 32px;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: left;
        }

        &__btn{
            width: 285px;
            height: 55px;
            font-size: 16px;
            font-weight: 600;
            line-height: 141.69%;
            letter-spacing: 0%;
            text-align: center;
            &:hover{
                background-color:#202027 ;
                border: 1px solid #202027;
                color: #FFFFFF;
                transition: 1s;
            }
        }
    }
    
    
    
    .footer{        
        height: 100px;
        background-color: #BDED35;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: center;
        
    }
}

        
    
        
        
           
            
            